#mundo_consola {
    margin-top: 10px;
    display: flex;
    flex-wrap: nowrap;
    border: solid 1px $colorComplementario;
    background-color: $colorSecundario;
    img {
        width: 100%;
    } article {
        border: solid 1px $colorComplementario;
    } h3 {
        background-color: $colorComplementario;
        padding: 10px;
        text-align: center;
    } p{
        padding: 10px;
    } 
}