nav {
    display: flex;
    justify-content: center;
    height: 150px;
        #nombre_pagina {
            color: $colorSecundario;
            background-color: $colorPrimario;
            font-size: 60px;
            margin: 40px 20px 0 0;
        }
        #barra_navegacion {
            list-style: none;
            border-left: solid 1px $colorComplementario;
        }
        a {
            text-decoration: none;
            color: $colorComplementario;
        } li {
            font-size: 25px;
            padding: 2px;
            margin-top: 0px;
            width: 100%;
        } li:hover{
            background-color: $colorSecundario;
            color: $colorPrimario;
            transition: 1s;
        }
}


