#principal {
    display: flex;
    flex-wrap: nowrap;
    border: solid 1px $colorComplementario;
    #imagen_principal {
        width: 50%;
            }#nota_uno{
                width: 25%;
            } #titulares {
                width: 25%;
        }   #titulares{
            border: solid 1px $colorComplementario;
        }#titulares h2 {
            border-top: 1px solid;
            background-color: $colorSecundario;
            color: $colorPrimario;
        }
            
            h2 {
            background-color: $colorPrimario;
            color: $colorComplementario;
            text-align: center;
            font-size: 30px;
            margin-top: 0;
            padding: 20px;
        }   p{
            padding: 20px;
            font-size: 20px;
            color: $colorComplementario;
        } a {
            text-decoration: none;
            color: $colorComplementario;
        }a:hover{
            background-color: $colorPrimario;
            color: $colorSecundario;
        }
}