nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 150px;
}

nav #nombre_pagina {
  color: #FFD400;
  background-color: #24272D;
  font-size: 60px;
  margin: 40px 20px 0 0;
}

nav #barra_navegacion {
  list-style: none;
  border-left: solid 1px #FBFFFE;
}

nav a {
  text-decoration: none;
  color: #FBFFFE;
}

nav li {
  font-size: 25px;
  padding: 2px;
  margin-top: 0px;
  width: 100%;
}

nav li:hover {
  background-color: #FFD400;
  color: #24272D;
  -webkit-transition: 1s;
  transition: 1s;
}

#principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  border: solid 1px #FBFFFE;
}

#principal #imagen_principal {
  width: 50%;
}

#principal #nota_uno {
  width: 25%;
}

#principal #titulares {
  width: 25%;
}

#principal #titulares {
  border: solid 1px #FBFFFE;
}

#principal #titulares h2 {
  border-top: 1px solid;
  background-color: #FFD400;
  color: #24272D;
}

#principal h2 {
  background-color: #24272D;
  color: #FBFFFE;
  text-align: center;
  font-size: 30px;
  margin-top: 0;
  padding: 20px;
}

#principal p {
  padding: 20px;
  font-size: 20px;
  color: #FBFFFE;
}

#principal a {
  text-decoration: none;
  color: #FBFFFE;
}

#principal a:hover {
  background-color: #24272D;
  color: #FFD400;
}

#mundo_consola {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  border: solid 1px #FBFFFE;
  background-color: #FFD400;
}

#mundo_consola img {
  width: 100%;
}

#mundo_consola article {
  border: solid 1px #FBFFFE;
}

#mundo_consola h3 {
  background-color: #FBFFFE;
  padding: 10px;
  text-align: center;
}

#mundo_consola p {
  padding: 10px;
}

#pie_pagina {
  background-color: #FBFFFE;
  margin-top: 10px;
  padding: 10px;
  text-align: right;
}

body {
  background-color: #24272D;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 800px) {
  #principal {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #principal #imagen_principal {
    width: 100%;
  }
  #principal #nota_uno {
    width: 100%;
  }
  #principal #titulares {
    border: none;
    width: 100%;
  }
}

@media screen and (max-width: 565px) {
  nav #nombre_pagina {
    font-size: 40px;
  }
}

@media screen and (max-width: 450px) {
  #barra_navegacion li {
    font-size: 20px;
  }
}

@media screen and (max-width: 360px) {
  nav #nombre_pagina {
    font-size: 25px;
  }
}
/*# sourceMappingURL=styles.css.map */