$colorPrimario :#24272D;
$colorSecundario: #FFD400;
$colorComplementario:#FBFFFE;
$colorFooter: #100B00;
 
@import "navegacion";
@import "noticias";
@import "mundoConsola";
@import "footer";

body {
    background-color: $colorPrimario;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width:800px){
    #principal {
        flex-wrap: wrap;
        flex-direction: column;
    }
    #principal #imagen_principal {
        width: 100%;
    }
    #principal #nota_uno{
        width: 100%;
    }
    #principal #titulares {
        border: none;
        width: 100%;
    }
}

@media screen and (max-width:565px){
    nav #nombre_pagina{
        font-size: 40px;
    }
}

@media screen and (max-width:450px){
    #barra_navegacion li{
        font-size: 20px;
    }
}

@media screen and (max-width:360px){
    nav #nombre_pagina{
        font-size: 25px;
    }
}